/* Page animation */
.page {
    animation: fadeSlide 0.6s ease;
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Styles*/
.login-container .header h2 {
    color: #1f2937;
}

.login-container .btn-cadastrar {
    background: #10b981;
}

.login-container .btn-cadastrar:hover {
    background: #059669;
}
